<ul class="navigation">
    <li><a href="/">home</a></li> | 
    <li><a href="/about.html">about</a></li> |
    <li><a href="{{ site.links.rsvp }}" target="_blank">RSVP</a></li> | 
    <li><a href="/about.html#all_your_gifts_are_belong_to_us">gifts</a></li> <br />
    <li><a href="/blog.html">blog</a></li> | 
    <li><a href="/proposal.html">proposal</a></li> | 
    <li><a href="/glossary.html">glossary</a></li> |
    <!-- <li><a href="http://www.freewebsitetemplates.com">about my family</a></li> |  -->
    <li><a href="/Photos/">gallery</a></li>
    <!-- <li><a href="http://www.freewebsitetemplates.com">contact</a></li> -->
</ul>
