<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
<title>Maddy and Devin's Wedding Oct 2, 2011{% if page.title %} - {{ page.title }}{% enaifd %}</title>
</head>

<body>

<div id="container">
  <div id="header"></div>
  <div id="content">
    <div id="sheettop">
      <div id="nav">
        <ul>
          <li><a href="/">home</a></li> | 
          <li><a href="/proposal.html">the proposal</a></li> | 
          <!-- <li><a href="http://www.freewebsitetemplates.com">about my family</a></li> |  -->
          <li><a href="Photos/">our gallery</a></li>
          <!-- <li><a href="http://www.freewebsitetemplates.com">contact</a></li> -->
        </ul>
      </div>
      {% if page.title %}
      <div class="title">
          <h1>{{ page.title }}</h1>
      </div>
      {% endif %}
      <div class="text">
       {{ content }}
       <div style="clear:both"></div>  
      </div>
      <div style="clear:both"></div>
    </div>
  
    <div style="clear:both"></div>

    
    <div id="sheetbottom">

      <div class="title">
        <h3>Our </h3><h1>Photo Gallery</h1>
      </div>
      <div id="photogallery"> 
        <div class="photobox">
          
          <ul class="thumbnails">
            <li><a href="Photos/slides/IMG_1879.html"><img src="images/photo1.jpg" alt="baby photo 1" border="0" /></a></li>
            <li><a href="Photos/slides/IMG_0442.html"><img src="images/photo2.jpg" alt="baby photo 2" border="0" /></a></li>
            <li><a href="Photos/slides/IMG_1900.html"><img src="images/photo3.jpg" alt="baby photo 3" border="0" /></a></li>
          </ul>
          <div class="clear"></div>
          <ul class="thumbnails">
            <li><a href="Photos/slides/IMG_1974.html"><img src="images/photo4.jpg" alt="baby photo 4" border="0" /></a></li>
            <li><a href="Photos/slides/IMG_1980.html"><img src="images/photo5.jpg" alt="baby photo 5" border="0" /></a></li>
            <li><a href="Photos/slides/IMG_1883.html"><img src="images/photo6.jpg" alt="baby photo 6" border="0" /></a></li>
          </ul>
        </div>
        <div class="blog">
          <a href="Photos/"><img src="images/bloglink.jpg" alt="blog" border="0" /></a>
        </div>
        <div style="clear:both"></div>
      </div>
    <br />
    
    </div>
    
    
    
    
    
  </div>
  <div class="clear"></div>
  <div id="footer">
    <ul>
      <li><a href="/">home</a></li> | 
      <!-- <li><a href="http://www.freewebsitetemplates.com">about me</a></li> |  -->
      <!-- <li><a href="http://www.freewebsitetemplates.com">about my family</a></li> |  -->
      <li><a href="Photos/">our gallery</a></li>
      <!-- <li><a href="http://www.freewebsitetemplates.com">contact</a></li> -->
    </ul>
    <!-- <div id="copyright"><a href="http://www.freewebsitetemplates.com">Yourwebsite.com</a> all rights reserved.</div> -->
  </div>
    
<div class="clear"></div>
</div>
</body>
</html>
<!-- vim:set et ts=8 sw=2 -->
